<div class="container">
    <br />
    <h2 class="text-light p-3">Categorías</h2>
    <br />
    <div class="card">
        <div class="card-header">
            Nueva Categoría
        </div>
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-body-secondary">Nueva Categoría</h6>
            <form [formGroup]="altaForm">
                <div class="row">
                    <div class="col-3">
                        <div class="mb-3">
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon3">Código</span>
                                <input type="number" class="form-control" id="basic-url"
                                    aria-describedby="basic-addon3 basic-addon4" formControlName="inputGroupCategoria">
                            </div>
                            <div class="form-text" id="basic-addon4">Ejemplo: 56974.</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon3">Descripción</span>
                                <input type="text" class="form-control" id="basic-url"
                                    aria-describedby="basic-addon3 basic-addon4" formControlName="descripcionCategoria">
                            </div>
                            <div class="form-text" id="basic-addon4">Ejemplo: Hilo, Lana.</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="liveAlertPlaceholder"></div>
                </div>
            </form>
        </div>

        <div class="card-footer text-end">
            <button type="button" class="btn btn-primary" (click)="almacenarCategoria()">Almacenar Categoría</button>
            &nbsp;
            <button type="button" class="btn btn-danger" (click)="limpiarCategoria()">Limpiar Categoría</button>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    Listado de Categorías
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr class="text-center">
                                <th scope="col">#</th>
                                <th scope="col">Código</th>
                                <th scope="col">Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let categoria of listadoCategoria; let i = index;">
                                <th scope="row" class="text-center">{{i}}</th>
                                <td class="text-end">{{categoria.idgrupo}}</td>
                                <td>{{categoria.descripcion}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</div>