<div class="container">
    <br />
    <div class="card">
        <div class="card-header">
            Categorías
        </div>
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-body-secondary">Nueva Categoría</h6>
            <div class="row">
                <div class="col-3">
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon3">Código</span>
                            <input type="text" class="form-control" id="basic-url"
                                aria-describedby="basic-addon3 basic-addon4">
                        </div>
                        <div class="form-text" id="basic-addon4">Ejemplo: 56974.</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon3">Descripción</span>
                            <input type="text" class="form-control" id="basic-url"
                                aria-describedby="basic-addon3 basic-addon4">
                        </div>
                        <div class="form-text" id="basic-addon4">Ejemplo: Hilo, Lana.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-end">
            <a href="#" class="btn btn-primary">Almacenar Categoría</a>
            &nbsp;
            <a href="#" class="btn btn-danger">Limpiar Categoría</a>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    Listado de Categorías
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr class="text-center">
                                <th scope="col">#</th>
                                <th scope="col">Código</th>
                                <th scope="col">Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" class="text-center">1</th>
                                <td>59637</td>
                                <td>Hilo</td>

                            </tr>
                            <tr>
                                <th scope="row" class="text-center">2</th>
                                <td>56875</td>
                                <td>Lana</td>

                            </tr>
                            <tr>
                                <th scope="row" class="text-center">3</th>
                                <td>56879</td>
                                <td>CINTA MAGDALA 60MM X10M</td>
                            </tr>
                            <!-- <tr>
                                <th scope="row" class="text-center">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td colspan="2">Larry the Bird</td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</div>