<!-- <div class="container">
    <br />
    <div class="d-flex align-items-center justify-content-center" style="height: 300px;">
        <img src="assets/images/icono.png" style="width: 75%;">
    </div>
</div> -->

<section data-bs-version="5.1" class="header19 cid-sFGzrhlvIh" id="header19-3">
    <div class="mbr-overlay" style="opacity: 0.9; background-color: rgb(45, 45, 45);"> </div>

    <div class="container">
        <div class="media-container">
            <div class="col-md-12 col-lg-12 m-auto align-center">
                <!-- <div class="mbr-section-btn align-center"><a class="btn btn-info display-4"
                        href="https://mobiri.se/">Buscador<br></a> <a class="btn btn-secondary display-4"
                        href="index.html#features19-a">Carrito</a></div> -->

                <div class="row pt-5 justify-content-center">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="card-wrapper">
                            <div class="card-box align-center" routerLink="/buscar">
                                <span class="mbr-iconfont mbrib-search"
                                    style="color: rgb(55, 150, 131); fill: rgb(55, 150, 131);"></span>
                                <h4 class="card-title align-center mbr-black mbr-fonts-style display-7">
                                    <strong> Buscar Producto </strong>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="card-wrapper">
                            <div class="card-box align-center" routerLink="/carrito">
                                <span class="mbr-iconfont mobi-mbri-cart-add mobi-mbri"
                                    style="color: rgb(55, 150, 131); fill: rgb(55, 150, 131);"></span>
                                <h4 class="card-title align-center mbr-black mbr-fonts-style display-7">
                                    <strong>Carrito de Compras</strong>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="card-wrapper">
                            <div class="card-box align-center" routerLink="/inf_presupuesto">
                                <span class="mbr-iconfont mobi-mbri-users mobi-mbri"
                                    style="color: rgb(55, 150, 131); fill: rgb(55, 150, 131);"></span>
                                <h4 class="card-title align-center mbr-black mbr-fonts-style display-7">
                                    <strong>Presupuestos</strong>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="card-wrapper">
                            <div class="card-box align-center" routerLink="/inf_diario">
                                <span class="mbr-iconfont mobi-mbri-layers mobi-mbri"
                                    style="color: rgb(55, 150, 131); fill: rgb(55, 150, 131);"></span>
                                <h4 class="card-title align-center mbr-black mbr-fonts-style display-7"><strong>Ventas
                                        Diarias</strong></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>