<nav *ngIf="_authService.loggedIn()" class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img style="width: 30px;" src="assets/images/icono.png">&nbsp;Angel Andres</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" routerLink="/buscar">Buscador</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" routerLink="/inf_diario">Informes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"
                        routerLink="/inf_presupuesto">Presupuestos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Configuraciones
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" routerLink="/grupos">
                                <i class="fa fa-object-group" aria-hidden="true"></i>
                                &nbsp;Grupos
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="/subgrupos">
                                <i class="fa fa-object-group" aria-hidden="true"></i>
                                &nbsp;SubGrupos
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="/productos">
                                <i class="fa fa-product-hunt" aria-hidden="true"></i>
                                &nbsp;Productos
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="/precio_producto">
                                <i class="fa fa-usd" aria-hidden="true"></i>
                                &nbsp;Precios
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="/precio_por_producto">
                                <i class="fa fa-usd" aria-hidden="true"></i>
                                &nbsp;Precio individual
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" style="cursor: pointer" *ngIf="_authService.loggedIn()"
                                (click)="_authService.logout()">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                Cerrar sesión
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>


            <ul class="mb-2 mb-lg-0 d-flex">
                <li>
                    <a class="nav-item" routerLink="/carrito">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>


            <!-- <form class="d-flex">
                <a class="dropdown-item" routerLink="/precio_producto">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    &nbsp;Precios
                </a>
            </form> -->
            <!-- <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
        </div>
    </div>
</nav>