<!-- Para el carrito, buscar la forma de hacer que el presupuesto se envíe por whatsapp. -->


<div class="container">
    <br>
    <div class="row">
        <div class="col-2 offset-10 text-end">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop" (click)="modal('p')">
                Agregar
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-3 offset-9 text-end text-light">
            Fecha del Presupuesto: <b>{{fecha | date:'dd/MM/YYYY'}}</b>
        </div>
    </div>
    <div class="row">
        <div class="col-3 offset-9 text-end text-light">
            Descuento aplicado: <b>{{descuento}}%</b>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="table-responsive" *ngIf="enCarrito > 0">
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                    <th class="text-center">Cantidad</th>
                    <th class="text-center">Producto</th>
                    <th class="text-center">individual</th>
                    <th class="text-center">Precio Total</th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of carrito; index as i">
                        <td class="text-end">{{item.caintidad}}</td>
                        <td><b>{{item.descripcion}}</b></td>
                        <td>$ {{item.precioIndividual|number:'1.2'}}</td>
                        <td class="text-end">$ {{item.precio|number:'1.2'}}</td>
                        <td class="text-center" (click)="quitarItem(i)">
                            <i class="fa fa-times"></i>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="text-end">Total</td>
                        <td colspan="1" class="text-center"><b>$ {{precioTotal|number:'1.2'}}</b></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="text-end">
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop" (click)="modal('d')">
                    Descuento
                </button>
                &nbsp;
                &nbsp;
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cancelarCompra()">
                    Cancelar Compra
                </button>
                &nbsp;
                &nbsp;
                <button type="button" class="btn btn-primary" (click)="finCarrito()">
                    Finalizar Compra
                </button>
                &nbsp;
                &nbsp;
                <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal" (click)="imprimirCarrito()">
                    <i class="fa fa-print" aria-hidden="true"></i>
                </button>
            </div>
        </div>

        <div *ngIf="enCarrito == 0">
            <div class="alert alert-warning text-center" role="alert">
                <b>No</b> hay datos cargados en el carrito para poder mostrar.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="modal modal-lg fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" *ngIf="!modalDescuento">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar producto</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h5>
                            Producto: <b>{{this.precioForm.controls['producto'].value}}</b>
                        </h5>
                        <div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="input-group">
                                        <span class="input-group-text">$ individual</span>
                                        <input type="text" aria-label="precio" class="form-control" [(ngModel)]="precio"
                                            (keyup)="controlarKeyUp('pi')">
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="input-group">
                                        <span class="input-group-text">Cantidad</span>
                                        <input type="number" aria-label="cantidad" class="form-control"
                                            [(ngModel)]="cantidad" (keyup)="controlarKeyUp('ca')"
                                            (click)="controlarKeyUp('ca')">
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="input-group">
                                        <span class="input-group-text">$ total</span>
                                        <input type="text" aria-label="precio" class="form-control"
                                            [(ngModel)]="precioTotalModal" (keyup)="controlarKeyUp('pt')">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                            (click)="agregarProducto()">Agregar</button>
                    </div>
                </div>

                <!-- Modal de Descuento  -->
                <div class="modal-content" *ngIf="modalDescuento">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Aplicar descuento</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h5>
                            Valor sin descuento: <b>$ {{precioTotal|number:'1.2'}}</b>
                        </h5>
                        <div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="input-group">
                                        <span class="input-group-text">% descuento</span>
                                        <input type="text" aria-label="descuento" class="form-control"
                                            [(ngModel)]="descuento" (keyup)="controlarKeyUp('de')">
                                    </div>
                                </div>
                                <div class="col-6 offset-1">
                                    <h5>
                                        Con descuento: <b>$ {{precioTotalD|number:'1.2'}}</b>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                            (click)="contarCarrito()">Aplicar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>