<div class="container">
    <br />
    <h2 class="text-light p-3">Informe de Presupuestos</h2>
    <br />
    <div class="card">
        <div class="card-header">
            Presupuestos
        </div>
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-body-secondary">Presupuestos</h6>

            <div>
                <div class="row">
                    <div class="col-4">
                        <div class="input-group">
                            <span class="input-group-text" id="diasBusqueda01">Cantidad de días</span>
                            <input type="number" class="form-control" placeholder="Ingrese cantidad de días a ver"
                                aria-label="diasBusqueda" [(ngModel)]="diasBusqueda" id="diasBusqueda"
                                name="diasBusqueda" aria-describedby="diasBusqueda01">
                        </div>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-outline-primary" (click)="buscar()">
                            <i class="fa fa-search" aria-hidden="true"></i>&nbsp;&nbsp;Buscar
                        </button>
                    </div>
                </div>
            </div>
            <br />

            <div class="row" *ngIf="buscando && listadoMostrar.length>0">
                <div class="col col-3">
                    <table class="table table-striped">
                        <thead>
                            <tr class="text-center">
                                <th scope="col">#</th>
                                <th scope="col">Fecha</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let presupuesto of listadoMostrar ">
                                <td class="text-center">{{presupuesto.numero}}</td>
                                <td class="text-center">{{presupuesto.fecha|date:'d/MM/Y'}}</td>
                                <td class="text-center">
                                    <i class="fa fa-eye" aria-hidden="true"
                                        (click)="ver(presupuesto.idpresupuesto)"></i>
                                    <!-- &nbsp;&nbsp;
                                    <i class="fa fa-paper-plane-o" aria-hidden="true"
                                        (click)="venviar(presupuesto.idpresupuesto)"></i> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col col-9" *ngIf="listadoMostrarProductos.length>0">
                    <table class="table table-striped">
                        <thead>
                            <tr class="text-center">
                                <th scope="col">Producto</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let producto of listadoMostrarProductos ">
                                <td class="text-left">{{producto.descripcion}}</td>
                                <td class="text-center">{{producto.cantidad}}</td>
                                <td class="text-end">$ {{producto.precio}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row gap-2">
                        <a class="btn btn-outline-primary col-3 offset-5" href="{{enviarPresupuesto}}" target="_blank">
                            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>&nbsp;&nbsp;Enviar Presupuesto
                        </a>
                        &nbsp;
                        <a class="btn btn-outline-success col-3" (click)="buscar()">
                            <i class="fa fa-money" aria-hidden="true"></i>&nbsp;&nbsp;Realizar Venta
                        </a>
                    </div>

                </div>
            </div>

            <div class="row" *ngIf="buscando && listadoMostrar.length==0">
                <div class="alert alert-warning text-center" role="alert">
                    <b>No</b> hay datos cargados para esa cantidad de días.
                </div>
            </div>
        </div>
        <div class="card-footer text-end">
        </div>
    </div>
</div>