<div class="container">
    <br />
    <div class="card">
        <div class="card-header">
            Productos
        </div>
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-body-secondary">Nuevo Producto</h6>
            <div class="row">
                <div class="col-6">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Categoría</label>
                        <select class="form-select" id="inputGroupSelect01">
                            <option selected>Seleccionar Categoría</option>
                            <option value="1">Hilo</option>
                            <option value="2">Lana</option>
                            <option value="3">Accesorios de tejido</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon3">Código</span>
                            <input type="text" class="form-control" id="basic-url"
                                aria-describedby="basic-addon3 basic-addon4">
                        </div>
                        <div class="form-text" id="basic-addon4">Ejemplo: 56974.</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon3">Descripción</span>
                            <input type="text" class="form-control" id="basic-url"
                                aria-describedby="basic-addon3 basic-addon4">
                        </div>
                        <div class="form-text" id="basic-addon4">Ejemplo: Hilo, Lana.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-end">
            <a href="#" class="btn btn-primary">Almacenar Sub-Categoría</a>
            &nbsp;
            <a href="#" class="btn btn-danger">Limpiar Sub-Categoría</a>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    Listado de Categorías
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr class="text-center">
                                <th scope="col">#</th>
                                <th scope="col">Código</th>
                                <th scope="col">Categoría</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" class="text-center">1</th>
                                <td>Hilo</td>
                                <td>59637</td>
                                <td>Hilo</td>
                                <td>
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                    &nbsp;
                                    <i class="fa fa-ban" aria-hidden="true"></i>
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-center">2</th>
                                <td>Lana</td>
                                <td>56875</td>
                                <td>Lana</td>
                                <td>
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                    &nbsp;
                                    <i class="fa fa-ban" aria-hidden="true"></i>
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-center">3</th>
                                <td>Accesorios de tejido</td>
                                <td>56876</td>
                                <td>CINTA MAGDALA 60MM X10M</td>
                                <td>
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                    &nbsp;
                                    <i class="fa fa-ban" aria-hidden="true"></i>
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </td>
                            </tr>
                            <!-- <tr>
                                <th scope="row" class="text-center">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td colspan="2">Larry the Bird</td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</div>