<div class="container">
    <br />
    <h2 class="text-light p-3">Sub-Categorías</h2>
    <br />
    <div class="card">
        <div class="card-header">
            Sub-Categorías
        </div>
        <div class="card-body" [formGroup]="altaForm">
            <h6 class="card-subtitle mb-2 text-body-secondary">Nueva Sub-Categoría</h6>
            <div class="row">
                <div class="col-6">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupCategoria">Categoría</label>
                        <select class="form-select" id="inputGroupCategoria" formControlName="inputGroupCategoria"
                            (change)="onClikCategoria($event.target)">
                            <option value="0">Seleccionar...</option>
                            <option *ngFor="let categoria of listadoCategoria; let i = index;"
                                value="{{categoria.idgrupo}}">{{categoria.descripcion}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text" id="inputGroupSubCategoria1">Código</span>
                            <input type="number" class="form-control" id="inputGroupSubCategoria"
                                formControlName="inputGroupSubCategoria"
                                aria-describedby="inputGroupSubCategoria1 basic-addon4">
                        </div>
                        <div class="form-text" id="basic-addon4">Ejemplo: 56974.</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text" id="descripcionSubCategoria3">Descripción</span>
                            <input type="text" class="form-control" id="descripcionSubCategoria"
                                formControlName="descripcionSubCategoria"
                                aria-describedby="descripcionSubCategoria3 basic-addon4">
                        </div>
                        <div class="form-text" id="basic-addon4">Ejemplo: Hilo, Lana.</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="alert alert-warning col-6 offset-3" *ngIf="modificar">
                    Cantidada de productos asociados al subgrupo que quiere modificar: <b>{{modiSubGrupoTotal}}</b>
                </div>
            </div>

            <div class="row">
                <div id="liveAlertPlaceholder"></div>
            </div>
        </div>
        <div class="card-footer text-end">
            <button type="button" class="btn btn-primary" (click)="almacenarSubCategoria()">
                Almacenar Sub-Categoría
            </button>
            &nbsp;
            <button type="button" class="btn btn-danger" (click)="limpiarSubCategoria()">
                Limpiar Sub-Categoría
            </button>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    Listado de Categorías
                </div>
                <div class="card-body" *ngIf="listadoSubCategoria.length > 0">
                    <table class="table table-striped">
                        <thead>
                            <tr class="text-center">
                                <th scope="col">#</th>
                                <th scope="col">Código</th>
                                <th scope="col">Categoría</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let sub of listadoSubCategoria">
                                <th scope="row" class="text-center">1</th>
                                <td>{{sub.idsubgrupo}}</td>
                                <td>{{categoriaElegida}}</td>
                                <td>{{sub.descripcion}}</td>
                                <td>
                                    <i class="fa fa-pencil" aria-hidden="true" (click)="editar(sub)"></i>
                                    &nbsp;
                                    <i class="fa fa-ban" aria-hidden="true"></i>
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="alert alert-warning alert-dismissible" role="alert" *ngIf="listadoSubCategoria.length == 0">
                    <div>No se han encotrado Sub-Categorías para la Categoría seleccionada</div>
                </div>
            </div>
        </div>
    </div>
</div>