<div class="container">
    <br />
    <h2 class="text-light p-3">Buscador de Productos</h2>
    <br />
    <div class="card">
        <div class="card-header">
            Productos
        </div>
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-body-secondary">Buscador de Productos</h6>

            <!-- <div [formGroup]="altaForm"> -->
            <div>
                <div class="row">
                    <div class="col-6">
                        <div class="input-group">
                            <span class="input-group-text" id="codigo-addon3">Producto</span>
                            <input type="text" class="form-control" placeholder="Ingrese nombre de producto "
                                aria-label="Producto" [formControl]="myControl" [matAutocomplete]="auto"
                                aria-describedby="codigo-addon3">
                            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                <mat-option (onSelectionChange)="onEnter($event)"
                                    *ngFor="let option of filteredoptions | async; track option"
                                    [value]="option">{{option}}</mat-option>
                            </mat-autocomplete>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <div class="row" *ngIf="listadoMostrar.length>0">
                <table class="table table-striped">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">#</th>
                            <th scope="col">Código</th>
                            <th scope="col">Categoría</th>
                            <th scope="col">Sub-Categoría</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Precio</th>
                            <th scope="col-1">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let producto of listadoMostrar ">
                            <th scope="row" class="text-center">1</th>
                            <td>{{producto.codigo}}</td>
                            <td>{{producto.grupo}}</td>
                            <td>{{producto.subgrupo}}</td>
                            <td>{{producto.producto}}</td>
                            <td>${{producto.precio}}</td>
                            <td class="text-center">
                                <i class="fa fa-plus" aria-hidden="true" title="Habilitar" data-toggle="tooltip"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal"
                                    (click)="cargar(producto)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer text-end">
            <!-- <button type="button" class="btn btn-primary">Editar Producto</button> -->

            <!-- <button type="button" class="btn btn-primary position-relative">
                
                <i class="fa fa-plus" aria-hidden="true" title="Habilitar" data-toggle="tooltip"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    99
                    <span class="visually-hidden">unread messages</span>
                </span>
            </button> -->
            <!-- <button type="button" class="btn btn-primary" (click)="editarProducto()">Editar Producto</button>
            &nbsp;
            <button type="button" class="btn btn-danger" (click)="limpiarProducto()">Limpiar Producto</button> -->
        </div>
    </div>

    <!-- Button trigger modal -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Agregando productos al presupuesto</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <b>{{productoModal}}</b>
                    <br><br>

                    ¿Cuántos productos son?
                    <div class="row">
                        <div class="col-6">
                            <input type="number" class="form-control" placeholder="Cantidad de producto"
                                aria-label="Cantidad" aria-describedby="Cantidad" [(ngModel)]="cantidad" name="cantidad"
                                id="cantidad" (change)="precioCambio()">
                        </div>
                        <div class="col-6 text-end">
                            $ {{precioModal}}
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="cargaProducto()">Cargar</button>
                </div>
            </div>
        </div>
    </div>
</div>